# Warning: this .dockerignore is apparently not applied when sending a build context to the UTSP
# and building the image there.

# unnecessary and potentially large directory
system_setups/results/
# the finished.flag can prevent the calculation
system_setups/finished.flag

# cache folder for the inputs
hisim/inputs/cache