numpy
pandas
matplotlib
seaborn
reportlab
pvlib
openpyxl
pytest
sphinx
sphinx-rtd-theme
dataclasses_json
hplib==1.9
bslib==0.6
psutil
pydot
graphviz
dataclass_wizard
utspclient
pyam-iamc
html2image
control
casadi