# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: code_quality

on:
  push:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install prospector[with_bandit]
        pip install prospector[with_mypy]
        pip install prospector[with_pyroma]
        pip install prospector[with_vulture]
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install -e .
    - name: Lint with prospector
      working-directory: ./
      run: |
        prospector examples/basic_household_only_heating.py
        # prospector examples/modular_example.py
        prospector hisim/component.py
        prospector hisim/component_wrapper.py
        prospector hisim/dynamic_component.py
        prospector hisim/hisim_main.py
        prospector hisim/hisim_with_profiler.py
        prospector hisim/utils.py
        prospector hisim/simulator.py
        prospector hisim/simulationparameters.py
        prospector hisim/sim_repository.py
        prospector hisim/project_code_overview_generator.py
        prospector hisim/postprocessingoptions.py
	prospector hisim/system_config.py
	prospector hisim/json_executor.py
        prospector hisim/json_generator.py
        prospector hisim/loadtypes.py
        prospector hisim/log.py
        prospector hisim/components/controller_l1_building_heating.py
        prospector hisim/components/controller_l2_generic_heat_simple.py
        prospector hisim/components/generic_hot_water_storage_modular.py
	prospector hisim/components/generic_car.py
	prospector hisim/components/controller_l1_generic_ev_charge.py
        # prospector hisim/components/weather.py
        prospector hisim/postprocessing/chartbase.py
        prospector hisim/postprocessing/charts.py
        prospector hisim/postprocessing/chart_singleday.py
        prospector hisim/postprocessing/postprocessing_datatransfer.py
        prospector hisim/postprocessing/postprocessing_main.py
        prospector hisim/postprocessing/reportgenerator.py
        prospector hisim/postprocessing/system_chart.py
        prospector hisim/postprocessing/compute_kpis.py
        prospector tests/functions_for_testing.py
        prospector tests/test_advanced_battery_bslib.py
        prospector tests/test_examples.py
        prospector hisim/modular_household/component_connections.py
        prospector hisim/modular_household/cost_file_creator.py
        prospector hisim/modular_household/economic_parameters.py
        prospector hisim/modular_household/modular_household_results.py
        # prospector hisim/modular_household/preprocessing.py


#        # pylint hisim/simulator.py --rcfile=hisim_pylint_config.rc
#        # flake8 hisim/simulator.py --max-line-length 150
#        # pycodestyle hisim/simulator.py --max-line-length 150

